.table {
  border-collapse: collapse;
  margin-top: 5px;
}

.table td,
.table th {
  padding: 8px 20px;
  margin: 0;
  border-color: rgb(222, 226, 230);
  font-size: 20px;
}

.table th {
  font-weight: 700;
}

.table thead th {
  border-bottom: 1px solid #000;
}

.pagination {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}
.pagination button {
  background-color: rgb(37, 40, 43);
  color: white;
  border: none;
  cursor: pointer;
  padding: 2px 5px;
  text-decoration: none;
  margin: 0 5px;
}
.pagination button:hover {
  background-color: rgb(65, 68, 71);
}
.pagination input[type="number"] {
  width: 50px;
  margin: 0 10px;
  padding: 5px;
}

.noResultFound {
  text-align: center;
}

.loaderBox {
  margin: 20px 10px;
  height: 25px;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin: auto;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
